<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="conString" value="Data Source=localhost;Initial Catalog=WEDDINGMANAGEMENT;integrated security=true;MultipleActiveResultSets=true;"/>
	<add key="Huyen" value="Data Source=DESKTOP-FDBVHMB\SQLSERVEREXPRESS;Initial Catalog=WEDDINGMANAGEMENT;integrated security=true;MultipleActiveResultSets=true;"/>
    <add key="An" value="Server=DESKTOP-673E813\OSBORN;Database=WEDDINGMANAGEMENT;Integrated Security=True;MultipleActiveResultSets=true;"/>
    <add key="Thao" value="Data Source=DESKTOP-IEL0IE1;Initial Catalog=WEDDINGMANAGEMENT;Integrated Security=True;MultipleActiveResultSets=true;"/>
    <add key="unknown" value="Data Source=DESKTOP-FDBVHMB\SQLSERVEREXPRESS;Initial Catalog=WEDDINGMANAGEMENT;Integrated Security=True;MultipleActiveResultSets=true;"/>
  </appSettings>

	<connectionStrings>
		<add name="MyCONN" connectionString="Data Source=DESKTOP-FDBVHMB\SQLSERVEREXPRESS;Initial Catalog=WEDDINGMANAGEMENT;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>
